{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/index.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/a_general.css')}}">
{% endblock %}

{% block title %}Info - SED{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center w-100 ">

        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Syndrome d'Ehlers Danlos <span>Infos</span></h1>
                    
                    <h2>Groupe de maladies génétiques caractérisées par une anomalie du tissu conjonctif</h2>

                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto">En savoir plus</a>
                        <!-- <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Réservation</a> -->
                    </div>
                </div>

                <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                </div>
            </div>
        </div>
    </section>


    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="{{ asset('assets/img/sed/duo2.jpeg') }}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Une maladie encore très méconnue :</h3>

                        <br>
                        
                        <p class="">
                            Ce syndrome est provoqué par une anomalie de l’un des gènes qui contrôlent la production de collagène dans les tissus conjonctif. 
							Le tissu conjonctif est un tissu résistant, servant de maintient à l'ensemble des différentes structures de l’organisme et constitue environ 80% d'un corps humain. 
						</p>

						<p>
							La richesse de ses symptomes est donc légion et rend le diagnostique très difficile, laissant souvent les patients herer pendant des années (voir des décénies) avant 
							d'obtenir enfin un diagnistique. 
						</p>

						<p>	
							Il existe 6 principaux types d’anomalies (de gravité très variable) du syndrome d’Ehlers-Danlos ; chacune d’elles concerne des gènes différents et entraîne des troubles légèrement différents. 
							La fragilité anormale du tissu conjonctif qui en découle pose surtout problème au niveau ostéo-articulaire, mais elle peut aussi affecter les organes internes.
						</p>

						<p>	
							Concrètement, cela conduit par exemple à une souplesse anormale des articulations, une peau très élastique et des tissus fragilisés.
							Les symptômes typiques comprennent principalement, des articulations hyperlaxes, des "pieds plats", une élasticité cutannée, une fragilité capilaire ainsi
							qu'une fatigue et des douleurs chroniques ...
						</p>

						<p>
							Le diagnostic est souvent difficile, à cause de la richesse de ses symptômes et se basent sur les résultats d'un examen clinique.
							La plupart des personnes atteintes de ce syndrome ont toutefois une espérance de vie normale.
							Enfin, le syndrome d’Ehlers-Danlos étant dû à une mutation génétique, cette maladie est incurable.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>SED - Infos</h2>
                    <p class="colorDore">Actuellement</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <span>Forum</span>
                            <h4><a href="" class="text-light">Rejoindre</a></h4>
                            <p class="colorDore">Pour échanger et trouver des infos auprès d'autres personne atteinte du syndrome d'Ehler Danlos</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <span>Titre 2</span>
                               <h4><a href="" class="text-light">Rejoindre</a></h4>
                            <p class="colorDore">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="300">
                            <span>Titre 3</span>
                               <h4><a href="" class="text-light">Rejoindre</a></h4>
                            <p class="colorDore">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ======= Specials Section ======= -->
        <section id="specials" class="specials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>SED - Info</h2>
                    <p class="colorDore">A propos de nous</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Qui sommes-nous ?</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Pourquoi ce site ?</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-3">Comment fonctionne le site ? </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Qui sommes nous :</h3>
                                        <p class="font-italic">
											Atteinte du Syndrome d'Ehlers Danlos de type H, j'ai longtemps souffert silencieusement de symptomes que je croyais 
											"dans ma tête" ... Apres une errance de plus de 20 ans, j'ai enfin pu identifier ma maladie et découvert qu'elle était loin
											d'etre aussi rare qu'elle n'y parraissait ! 
										</p>
                                    </div>

                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        {# <img src="{{ asset('assets/img/specials-1.png') }}" alt="" class="img-fluid"> #}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Pourquoi ce site ?</h3>
                                        <p class="font-italic">
                                            Car il est difficile encore aujourd'hui, de trouver des renseignements sur cette maladie ! Il faut attendre des années
											avant de pouvoir enfin être dyagnostiqué et cela rélève souvent du parcours du combattant. Une errance médicale insuportable
										 	pour des patient en souffrance et qui sont rarement pris au sèrieux par un corps médical impuissant et qui bien souvent,
											ne connait pas cette maladie. 
                                        </p>
                                    </div>

                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        {# <img src="{{ asset('assets/img/specials-2.png') }}" alt="" class="img-fluid"> #}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Comment fonctionne le site ? </h3>
                                        <p class="font-italic">
											Ce site à été crée pour les patients et il n'est nullement question ici detrouver des réponses 
											à des question médical. Son seul but est d'aider ceux qui se posent des questions, afin de les aider à trouver des 
											réponses.
										</p>
                                    </div>

                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        {# <img src="{{ asset('assets/img/specials-3.png') }}" alt="" class="img-fluid"> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <!-- ======= Events Section ======= -->
        <section id="events" class="events">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Articles</h2>
                    <p class="colorDore">Les plus populaires</p>
                </div>

                <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

                    <div class="row event-item mt-4">
                        <div class="col-lg-6">
                            <img src="{{ asset('assets/img/chaise.jpg') }}" class="img-fluid" alt="">
                        </div>
                        
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Titre</h3>

                            <div class="price">
                                <p class="colorDore"><span>Sous titre</span></p>
                            </div>

                            <p class="font-italic">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                    </div>

                    <div class="row event-item mt-4">
                        <div class="col-lg-6">
                            <img src="{{ asset('assets/img/ecrase.jpg') }}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Titre</h3>

                            <div class="price">
                                <p class="colorDore"><span>Sous titre</span></p>
                            </div>

                            <p class="font-italic">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                    </div>

                    <div class="row event-item mt-4">
                        <div class="col-lg-6">
                            <img src="{{ asset('assets/img/femme.jpg') }}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Titre</h3>

                            <div class="price">
                                <p class="colorDore"><span>Sous titre</span></p>
                            </div>

                            <p class="font-italic">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>SED - Info</h2>
                    <p class="colorDore">Galerie photos</p>
                </div>
            </div>

            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-1.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-1.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-2.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-2.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-3.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-3.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-4.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-4.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-5.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-5.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-6.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-6.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-7.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-7.jpg') }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ asset('assets/img/gallery/gallery-8.jpg') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ asset('assets/img/gallery/gallery-8.jpg') }}" alt="image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= CONTACT ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>SED - Infos</h2>
                    <p class="colorDore">Contactez-nous</p>
                </div>

                <form action="" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="form-row">
                        <div class="col-6 form-group">
                            <input type="text" name="name" class="form-control" id="txtNom" placeholder="Nom"
                                data-rule="minlen:4" data-msg="Veuillez completer ce champs">
                            <div class="validate"></div>
                        </div>

                        <div class="col-6 form-group">
                            <input type="email" class="form-control" name="email" id="txtEmail" placeholder="Email"
                                data-rule="email" data-msg="Veuillez renseigner un email valide">
                            <div class="validate"></div>
                        </div>

                        <div class="col-12 form-group">
                            <input type="text" class="form-control" name="sujet" id="txtSujet"
                                placeholder="Sujet" data-rule="minlen:1" data-msg="Veuillez completer ce champs">
                            <div class="validate"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>

                    <div class="mb-3 d-none">
                        <div class="loading">Loading</div>
                        <div class="error-message">Erreur lors de l'envoi de votre message !</div>
                        <div class="sent-message">Votre message à bien été envoyé !</div>
                    </div>

                    <input class="text-center btn btnEnvoi" type="submit"></input>
                </form>
            </div>
        </section>
    </main>

	<script src="assets/js/index.js"></script>
{% endblock %}

{# {% block javascripts %}
	<script src="{{ asset('assets/js/index.js')}}"></script>
{% endblock %} #}
